@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Sora', sans-serif;
}

@media (min-width: 768px) {
    body {
        margin: 10px 10px 10px 10px;
    }
}

@media (min-width: 1024px) {
    body {
        margin: 10px 10px 10px 10px;
    }
}

@media (min-width: 1280px) {
    body { 
       margin: 50px 150px 50px 150px;
    }
}
